@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --lightGrey: #d6dbdc;
  --text: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --lightGrey: #000000;
    --text: #ffffff;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html, body, #__next {
  height: 100%;
}

.portfolio-image {
  filter: sepia(.25) saturate(2) hue-rotate(120deg);
}

.image-container {
  height: 200px;
  overflow: hidden;
}

.description-container {
  height: 100px;
  overflow: auto;
}

.dot-typing {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #999;
  position: relative;
  animation: typing 1s infinite;
  margin-left: 20px;
  margin-top: 40px;
}

.dot-typing::before, .dot-typing::after {
  content: '';
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #999;
}

.dot-typing::before {
  left: 15px;
  animation: typing 1s infinite 0.2s;
}

.dot-typing::after {
  left: 30px;
  animation: typing 1s infinite 0.4s;
}

@keyframes typing {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
